<div class="container">
    <div class="col-sm-6">
        <img src="images/people.jpg">
    </div>
    <div class="col-sm-6">
        <h1>
            Welcome to Confetti Cuisine!
        </h1>
        <p>
            Please check our chefs' exciting new cooking courses!
        </p>
        <p>
            If you'd like to the newest courses, click the <a href="/courses">course page.</a>
        </p>
        <p>
            Have a suggestion? <a href="/contact">Contact us!</a>
        </p>
    </div>
</div>