<form class="form-signin" action="/users/login" method="POST">
    <h2>Login</h2>
    <label for="txtEmail">Email:</label>
    <input type="email" name="email" id="txtEmail" class="form-controll" placeholder="Email" required>

    <label for="txtPassword">Password:</label>
    <input type="text" name="password" id="txtPassword" class="form-controll" placeholder="Password" required>

    <button type="submit" class="btn btn-lg btn-primary">Log In</button>
</form>